html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #CCC;
}

#main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.drawing-canvas {
    width: 400px;
    height: 400px;
    background-color: grey;
}

#phone-frame {
    background-image: url("iphone.png");
    width: 323px;
    height: 649px;
}
